/* universal styling */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* general styling */
body {
    text-align: center;
    background-image: linear-gradient(to bottom right, #4CDDC5, #642599);
}
/* header */
.logo {
    width: 20rem;
}
.navbar-nav li {
    margin: 0.5rem;
}
.navbar-nav li:hover {
    color: white;
    background-color: black;
    transition: 0.5s;
}
.navbar-nav a {
    color: black;
}
.navbar-nav a:hover {
    color: white;
    transition: 0.5s;
}
/* home */
.items {
    transform-style: preserve-3d;
}
.home, .humans {
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}
.home {
    z-index: 20;
}
.humans {
    transform: rotateY(180deg);
}
.container:hover .items {
    transform: rotateY(180deg);
    transition: 2s;
}
/* resume */
p {
    font-size: 30px;
    font-family: Pacifico;
    overflow: hidden;
}
#resume {
    padding: 100px;
}

/* project */
#project {
    padding: 100px;
    min-height: 50vw;
}
.carousel-inner img {
    margin: auto;
    height: 13vh;
}
/* contact form */
#contact {
    font-family: Pacifico;
    font-size: 30px;
    padding: 100px;
}
#contact input {
    background-color: white;
    font-family: none;
}
#contact input:hover {
    background-color: white;
}

#contact textarea {
    background-color: white;
}
.submit:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #4CDDC5, #642599);
}
/* footer */
footer {
    font-family: Pacifico;
    text-align: center;
    font-size: 20px;
}
/* progress bar */
progress[value] {
    appearance: none;
    border: none;
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    color: royalblue;
}
@media screen and (max-width: 300px) {
    body {
        width: 100%;
    }
}
@media screen and (max-width: 720px) {
    body {
        width: 100%;
    }
    p {
        font-size: 3vw;
    }
}

